@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    color: red;
}

#content {
    display: grid;
    padding: 10px;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    margin-bottom: 15px;
}

header nav {
    grid-column: 3;
    align-self: center;
}

header h1 {
    align-self: center;
    margin-left: 15px;
}

header ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

img {
    max-width: 50%;
    height: auto;
    justify-self: center;
}

h2 {
    justify-self: center;
}

a:hover {
    cursor: pointer;
  }